
// @theme "/usr/share/rofi/themes/solarized.rasi"

@import "colors.rasi"
* {
    normal-background:  @surface;
    normal-foreground:  @primary;
    alternate-normal-background: @surface;
    selected-normal-background:  @surface-bright;
    selected-normal-foreground:  @primary;
    foreground: @primary;
    background: @surface;

}

// @theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
