$primary: #ffb1ca;
$onPrimary: #5e1133;
$primaryContainer: #7b2849;
$onPrimaryContainer: #ffd8e3;
$secondary: #e2bdc6;
$onSecondary: #422a31;
$secondaryContainer: #5b3f47;
$onSecondaryContainer: #ffd9e2;
$tertiary: #efbd94;
$onTertiary: #48290b;
$tertiaryContainer: #613f20;
$onTertiaryContainer: #ffdcbf;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$background: #1f1a1b;
$onBackground: #ebe0e1;
$surface: #1f1a1b;
$onSurface: #ebe0e1;
$surfaceVariant: #514347;
$onSurfaceVariant: #d6c2c6;
$outline: #9e8c90;
$shadow: #000000;
$inverseSurface: #ebe0e1;
$inverseOnSurface: #352f30;
$inversePrimary: #994061;