$primary: #ffb2bb;
$onPrimary: #5f1223;
$primaryContainer: #7d2938;
$onPrimaryContainer: #ffdade;
$secondary: #e5bdc0;
$onSecondary: #44292c;
$secondaryContainer: #5d3f42;
$onSecondaryContainer: #ffd9dc;
$tertiary: #e8bf8e;
$onTertiary: #442b06;
$tertiaryContainer: #5d411b;
$onTertiaryContainer: #ffddb3;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$background: #201a1a;
$onBackground: #ece0e0;
$surface: #201a1a;
$onSurface: #ece0e0;
$surfaceVariant: #524344;
$onSurfaceVariant: #d6c1c2;
$outline: #9f8c8d;
$shadow: #000000;
$inverseSurface: #ece0e0;
$inverseOnSurface: #362f2f;
$inversePrimary: #9b404e;